
.icon-equal_housing:before { content: '\e800'; } /* '' */
.icon-left-open-big:before { content: '\e801'; } /* '' */
.icon-right-open-big:before { content: '\e802'; } /* '' */
.icon-disabled:before { content: '\e803'; } /* '' */
.icon-resident:before { content: '\e804'; } /* '' */
.icon-plus-1:before { content: '\e809'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */